{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Schools</h1>
      <p>This is the Schools page of Joy University.</p>
      <div class="row">
        {% for school in schools %}
        <div class="col-4 mb-4">
          <div class="card">
            <div class="card-body" style="min-height: 200px;">
              <h5 class="card-title">
                <i class="{{ school.icon }}"></i> {{ school.title }}
              </h5>
              <p class="card-text">{{ school.description }}</p>
              <a href="{% url school.slug %}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
